* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #1E1E1E;
  --color-text: #FFFFFF;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}
